body {
  font-family: Helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header,
article {
  color: white;
  background: #1f2430;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.footer {
  background: #1f2430;
  color: #cbccc6;
}

section {
  background: #1f2430;
  /* Height: 100vh minus header height (69px) to ensure full viewport coverage */
  height: calc(100vh - 69px);
  overflow: hidden;
}

a,
a:hover {
  color: white;
  font-weight: 400;
  text-decoration: white;
}

header .right {
  font-size: 14px;
  justify-content: flex-end;
  display: flex;
}

header .right .links {
  margin: 0;
  display: flex;
  align-items: flex-end;
}

header .logo {
  font-weight: 700;
  font-size: 30px;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

header .small {
  font-size: 20px;
}

header .setting {
  font-size: 13px;
}

header .setting input {
  margin: 0 7px;
}

header .setting select[name="tabSize"] {
  margin-left: 15px;
  margin-right: 7px;
}

.img-logo {
  width: 110px;
}

.editor-html {
  padding-top: 20px;
  padding-right: 0;
  height: 100%;
}

.editor-jade {
  padding-top: 20px;
  padding-left: 0;
  height: 100%;
}

#ace-jade {
  background: rgba(0, 0, 0, 0.01);
}

.ace_editor {
  /* Height: 100vh minus header (69px) and editor top padding (20px) */
  height: calc(100vh - 89px) !important;
  font-family: 'Fira Code', "Source Code Pro", "Monaco", "Menlo", "Ubuntu Mono", "Consolas",
    monospace !important;
  width: 100% !important;
  font-variant-ligatures: normal;
}

footer {
  color: #cbccc6;
  background: #1f2430;
}

@media (max-width: 575.98px) {
  header .logo {
    font-size: 28px;
  }

  .editor {
    border-bottom: 1px solid lightgray;
  }
}
