html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: #1f2430;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  overflow: hidden;
  background: #1f2430;
}

#root {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #1f2430;
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin: 0 !important;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: inherit;
}
